
$colour-white: #FFF;
$colour-mid-blue: #42a5f5;
$colour-light-blue: #60aac6;
$colour-deep-yellow-green: #70A60B;
$colour-silver: #F5F5F5;
$colour-mid-grey: #a9a9a9;
$colour-lightest-grey: #e4e4e4;
$colour-dark-grey: #242424;

$colour-input-border: #D9D9D9;
$color-input-label: rgba(0, 0, 0, .3);
$colour-input-warning-alert: #D14344;
